<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>...</title>
</head>

<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg blur-element" th:fragment="header">
        <div class="blurry-loli" id="blur-bar" style="z-index:-1;"></div>
        <a class="navbar-brand" href="/" style="margin-left:10px;">
            <img src="/static/images/ncs_logo.png" th:src="@{/images/ncs_logo.png}" width="25" height="25" class="d-inline-block align-center" alt=""> RiceLab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPBL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PBL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/greet">Greet</a>
                        <a class="dropdown-item" href="/birds">Birds</a>
                        <a class="dropdown-item" href="/dne">404 error</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarTPT" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TPT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/sanvipal_javaref.pdf}" target="_blank" rel="noopener noreferrer">Journal</a>
                        <a class="dropdown-item" href="https://freekashmir.nighthawkcodingsociety.com/" target="_blank" rel="noopener noreferrer">AP units</a>
                        <a class="dropdown-item" href="https://drone.nighthawkcodingsociety.com/ap-lessons/interface-abstraction-FRQ" target="_blank" rel="noopener noreferrer">2006 FRQ</a>
                        <a class="dropdown-item" href="https://drone.nighthawkcodingsociety.com/ap-lessons/interface-abstraction-FRQ" target="_blank" rel="noopener noreferrer">2019 FRQ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarABOUT" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="about/akhilabout">Akhil</a>
                        <a class="dropdown-item" href="/about/ishanabout">Ishan</a>
                        <a class="dropdown-item" href="/about/jonathanabout">Jonathan</a>
                        <a class="dropdown-item" href="/about/michaelabout">Michael</a>
                </li>
            </ul>
            <!-- Clock display -->
            <div style="margin-right:15px;margin-left:auto;">
                <span id="clock"></span>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Clock controller
                let clockElement = document.getElementById('clock');

                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                for (var ii of document.getElementsByClassName("dropdown-menu")) {
                    ii.classList.add("special")
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>

</html>
