<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Home</title>
</div></head>

<body>
    <div layout:fragment="content" th:remove="tag">

    <main class="container-fluid text-center py-5">
        <div class="body-window p-5 mb-4">
            <h1 class="display-1 font-monospace">RiceLab</h1>
            <p class="display-5 lead">Share your rice.</p>
            <img src="/images/rice1.png" class="image-fluid rounded h-100 w-100 my-5 mx-auto"/>
        </div>
        <div class="body-window p-5 mb-4">
            <h2 class="display-2 text-center">Post your rice for others to see.</h2>
            <p class="display-5 lead">Other features</p>
            <img src="/images/rice1.png" class="image-fluid rounded h-100 w-100 my-5 mx-auto"/>
        </div>
    </main>
    </div>
</body>

</html>
