<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <div th:replace="fragments/head :: header">
    </div>
    <div layout:fragment="metadata">...</div>
</head>

<body style="overflow-x: hidden; width: 100%; padding: 10px;">
    <div>
        <div th:replace="fragments/nav :: header"></div>

        <div layout:fragment="content">...</div>
    </div>

    <script>
        function darkTheme() {
            const subBar = document.getElementById("sub-bar");
            const body = document.body;
            const window = document.getElementById("body-window");

            subBar.classList.toggle("sub-bar-dark");
            window.classList.toggle("dark-mode");
        }
    </script>
    <!--    <div th:replace="fragments/footer :: footer"></div>-->
</body>

<div layout:fragment="script"></div>

</html>