<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Login</title>
</div></head>
    <body>
    <div layout:fragment="content" th:remove="tag">
        <main class="container-fluid h-100">
            <div class="body-window">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="card bg-dark text-white" style="border-radius: 1rem">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <h3 class="card-title text-center display-1 font-monospace">Login</h1>
                                <p class="card-text text-secondary">Login to your account</p>
                            </div>

                            <div class="text-center text-danger">
                                <div th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                            </div>
                            <form th:action="@{/login}" method="post">
                                <div class="row">
                                    <input type="text" class="form-control-lg my-3" name="username" placeholder="Username"/>
                                    <input type="password" class="form-control-lg my-3" name="password" placeholder="Password"/>
                                    <button type="submit" class="btn btn-primary mt-3">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </body>
</html>

