<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
  <th:block layout:fragment="metadata" th:remove="tag">
    <title>Blog Template</title>
  </th:block>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="toc" class="toc-full" style="top:60px;left:97%;position:fixed;z-index:5;" onmouseenter="toggleTOC();" onmouseleave="toggleTOC()">
    <div id="toc-dropdown" class="toc toc-dropdown">
      <div style="display: block;position: absolute;top: 50%;transform: translateY(-50%);margin: 0;width: 100%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-left-fill centered-icon" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </div>
    </div>
    <div style="display:inline;" class="toc toc-list">
      <ul class="dashed" style="padding-left: 0rem;">
        <li><a href="#title">Title</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#comment-section">Comment Section</a></li>
      </ul>
    </div>
  </div>

  <div id="votes" class="sub-window" style="float:left;margin-top:10px;border-radius: 20px;background-color: transparent !important;">
    <div style="width:30px;">
      <p id="score" th:text="${score}" style="margin-bottom: 0px;text-align: center;"></p>
        <button id="upvote" type="button" class="vote-btn button upvote" onclick="toggleUp();">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up centered-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
          </svg>
          <span class="visually-hidden">Button</span>
        </button>
        <button id="downvote" type="button" class="vote-btn button dnvote" onclick="toggleDown();">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down centered-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
          </svg>
          <span class="visually-hidden">Button</span>
        </button>
    </div>
  </div>

  <main class="container">
    <div class="body-window articles" style="margin:10px 0; padding:30px;">

      <h1 id="title" class="text-center font-monospace">
        Welcome to Username's Blog
      </h1>
      <div style="padding:10px;">

        <div class="sub-window">
          <h5>Here is where information about the user would go</h5>
        </div>

      </div>
    </div>
    <div class="body-window articles" style="margin: 10px 0;">
      <div style="padding:30px;">
        <h3 id="gallery" class="text-center font-monospace">Gallery</h3>

        <div class="modal fade" id="addImage" tabindex="-1" aria-labelledby="addImage" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content body-window">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/temp/imagePost" method="POST" id="addImageForm">
                  <div class="form-group">
                    <label for="imageURL" class="col-form-label">Image URL:</label>
                    <input id="imageURL" type="text" class="form-control sub-window" name="imageURL">
                </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="button" value="Submit" onclick="postImage()">Add Image</button>
                <button type="button" class="button" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#addImage">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg centered-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
        </button>
        <div style="display:inline;grid-template-columns: 2;" id="image-container">

          <div th:each="image, index : ${images}">
            <img style="max-width: 50%;" th:src="${image}" alt="${index}">
          </div>

        </div>
      </div>
    </div>

    <div class="body-window articles" style="margin:10px 0; padding:30px;">

      <h3 id="comment-section" class="text-center font-monospace">Comment Section</h3>
      <div th:each="Comment: ${Comments}">

        <div style="padding:10px;">
          <div class="sub-window">
            <div>
              <h4 style="display:inline"><u th:text="${Comment.key[0]}"></u></h4><p style="display:inline" th:text="'  ' + ${Comment.key[1]}"></p>
            </div>
            <p style="margin-left: 20px;" th:text="${Comment.value}"></p>
          </div>
        </div>

      </div><br>
      <form action="/temp" method="POST" id="commentSubmit">
        <input class="form-control sub-window" style="border:none" name="name" id="Author" placeholder="Username (Optional)"><br>
        <textarea class="form-control sub-window" style="border:none" name="content" id="commentForm" placeholder="Contents"></textarea><br>
        <button class="button">Submit</button>
      </form>
    </div>
  </main>
  <script>
    var toc = document.getElementById("toc");
    var tocDropdownText = document.getElementById("toc-dropdown");
    var upvote = document.getElementById("upvote");
    var downvote = document.getElementById("downvote");
    var score = document.getElementById("score");
    var imageContainer = document.getElementById("image-container");
    var imageTemplate = document.getElementById("image-template");

    if (localStorage.getItem("voteStatus") === "up") {upvote.classList.toggle("orange-btn");}
    if (localStorage.getItem("voteStatus") === "down") {downvote.classList.toggle("blue-btn");}

    function toggleTOC() {
      toc.classList.toggle("toc-show");
      tocDropdownText.classList.toggle("toc-dropdown-rotate");
    }
    function toggleUp() {
      if (upvote.classList.contains("orange-btn")) {
        upvote.classList.toggle("orange-btn");
        voteDn();
        localStorage.setItem("voteStatus", "none");
      } else {
        upvote.classList.toggle("orange-btn");
        voteUp();
        localStorage.setItem("voteStatus", "up");
      }
      if (downvote.classList.contains("blue-btn")) {
        downvote.classList.toggle("blue-btn");
        voteUp();
      }
    }

    function toggleDown() {
      if (downvote.classList.contains("blue-btn")) {
        downvote.classList.toggle("blue-btn");
        voteUp();
        localStorage.setItem("voteStatus", "none");
      } else {
        downvote.classList.toggle("blue-btn");
        voteDn();
        localStorage.setItem("voteStatus", "down");
      }
      if (upvote.classList.contains("orange-btn")) {
        upvote.classList.toggle("orange-btn");
        voteDn();
      }
    }

    async function voteUp() {
      score.innerText++;
      let data = await (await fetch('/temp/voteUp', {
        method: 'POST',
        body: null
      })).text();
    }
    async function voteDn() {
      score.innerText--;
      let data = await (await fetch('/temp/voteDn', {
        method: 'POST',
        body: null
      })).text();
    }

    async function postImage() {
      var imageURL = document.getElementById("imageURL").value;
      var imageDiv = document.createElement("div");
      var imageImg = document.createElement("img");
      imageImg.setAttribute("src", imageURL);
      imageImg.setAttribute("style", "max-width: 50%;");
      imageDiv.appendChild(imageImg);
      imageContainer.appendChild(imageDiv);

      let form = document.getElementById("addImageForm");
      let data = await (await fetch('/temp/imagePost', {
          method: 'POST',
          body: new FormData(form)
      })).text();
}
  </script>
</div>
</body>

</html>