<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Akhil</title>
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <main class="container">
            <div class="body-window articles" style="margin:10px 0; padding:30px;">
                <h1><strong>Hi, I'm Akhil</strong></h1>
				<p>I am a student in AP Computer Science A</p>
				<div>
					<img id="akhil" src="/images/akhilabout/mask.png" height=200px onclick=toggleImage() /><br><br>
					<a href="https://padlet.com/aguntur12/e775ro6ol4hu5o7m">Personal PBL Journal</a>
				</div>
            </div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">
				<details>
					<summary><h4 style="display:inline;"><strong>FRQ Unit 2</strong></h4></summary>
					<h5>1a. Write a statement to create a LightSequence object gradShow that has the initial light sequence "0101 0101 0101".</h5>
					<code>LightSequence gradShow = new LightSequence("0101 0101 0101");</code>

					<h5>1b. Write a statement that will call the display method to display the light sequence for the gradShow object.</h5>
					<code>gradShow.display();</code>

					<h5>1c. Write a statement that will be used to update the gradShow light sequence to "0011 0011 0011".</h5>
					<code>gradShow.changeSequence("0011 0011 0011");</code>

					<h5>1d. Write a code segment that will call the insertSegment method to insert the segment "1111 1111" in the current sequence for gradShow at index 4. The resulting sequence will be stored in the string resultSeq.</h5>
					<code>String resultSeq = gradShow.insertSegment("1111 1111", 4);</code>

					<h5>1e. Assume that the string oldSeq has been properly declared and initialized and contains the string segment. Write a code segment that will remove the first occurrence of segment from oldSeq and store it in the string newSeq. Consider the following examples.

						If oldSeq is "1100000111" and segment is "11", then "00000111" should be stored in newSeq.
						If oldSeq is "0000011" and segment is "11", then "00000" should be stored in newSeq.
						If oldSeq is "1100000111" and segment is "00", then "11000111" should be stored in newSeq.
					</h5>

					<div class="cdblk">
						<code style="margin-left: 00px;">for (int ii=0; ii<=oldSeq.length()-segment.length(); ii++) {</code><br>
						<code style="margin-left: 40px;">	if (oldSeq.substring(ii, ii + segment.length()).equals(segment)) {</code><br>
						<code style="margin-left: 80px;">		newSeq = oldSeq.substring(0, ii) + oldSeq.substring(ii + segment.length(), oldSeq.length());</code><br>
						<code style="margin-left: 80px;">		break;</code><br>
						<code style="margin-left: 40px;">	}</code><br>
						<code style="margin-left: 00px;">}</code>
					</div>
					<div class="frq-form">
						<form action="/about/akhilabout/Unit2FRQQuestion1PartE" method="GET" id="Unit2FRQQuestion1PartE">
							<div>
								<label for="oldSeqField">Input the original sequence</label><br>
								<input class="form-control sub-window" name="oldSeq" id="oldSeqField"><br>
								<label for="segField">Input the segment to remove</label>
								<input class="form-control sub-window" name="segment" id="segField"><br>
								<button class="btn btn-light">Submit</button>
								<p th:text="'New sequence: ' + ${newSeq}"></p>
							</div>
						</form>
					</div>

					<h5>1f. Two lights will be arranged on a two-dimensional plane. The vertical distance between the two lights is stored in the double variable a. The horizontal distance between the two lights is stored in the double variable b.

						The straight-line distance between the two lights is given by the formula square root of the quantity a squared plus b squared.

						Write a code segment that prints the straight-line distance between the two lights according to the formula above.
					</h5>

					<code>System.out.println(Math.pow(Math.add(Math.pow(a, 2.0), Math.pow(b, 2.0)), 0.5))</code>
				</details>
			</div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">
				<details>
					<summary><h4 style="display:inline;"><strong>FRQ Unit 3</strong></h4></summary>
					<h5>1a. Write a code segment that prints "attending" if rsvp is true and prints "not attending" otherwise.</h5>
					<code>if (rsvp) {System.out.print("attending");}</code>
					<code>else {System.out.print("not attending");}</code>

					<h5>1b. Write a code segment that prints the food item associated with selection. For example, if selection is 3, the code segment should print "pasta". Write the code segment below. Your code segment should meet all specifications and conform to the example.</h5>
					<code>String options[] = {"beef", "chicken", "pasta"};</code>
					<code>if (selection < 4) {System.out.println(options[selection-1]);}</code>
					<code>else {System.out.println("fish");}</code>

					<h5>1c. Write a code segment that will store a dinner selection in option1 based on the values of rsvp and selection. The intended behavior of the code segment is described below.</h5>
					<code style="margin-left:00px;">String option1;</code><br>
					<code style="margin-left:00px;">if (rsvp) {</code><br>
					<code style="margin-left:40px;">if (selection < 4) {options1 = "Thanks for attending. You will be served " + options[selection-1];} + "."</code><br>
					<code style="margin-left:00px;">} else {options1 = "Sorry you can't make it."}</code>

					<h5>1d. Write a code segment that will print true if the strings option1 and option2 contain the same values and will print false otherwise.</h5>
					<code>if (option1.equals(option2)) {System.out.println("true")}</code>
					<code>else {System.out.println("false")}</code>

					<h5>2. draw a square</h5>
					<code style="margin-left:00px;">public void drawSquare(int x, int y, int len) {</code><br>
					<code style="margin-left:40px;">private int newX = 0;</code><br>
					<code style="margin-left:40px;">private int newY = 0;</code><br>
					<code style="margin-left:40px;">if ((x+len)>10) {newX = 10-x;}</code><br>
					<code style="margin-left:40px;">if ((y+len)>10) {newY = len-y;}</code><br>
					<code style="margin-left:40px;">if (newX != 0 && newY = 0) {</code><br>
					<code style="margin-left:80px;">if (newX&lt;len) {len=newX;}</code><br>
					<code style="margin-left:40px;">} if (newX == 0 && newY != 0) {</code><br>
					<code style="margin-left:80px;">if (newY&lt;len) {len=newY;}</code><br>
					<code style="margin-left:40px;">} if (newX != 0 && newY != 0) {</code><br>
					<code style="margin-left:80px;">if (newY&lt;newX) {</code><br>
					<code style="margin-left:120px;">len = newY;</code><br>
					<code style="margin-left:80px;">} else if (newX&lt;newY) {</code><br>
					<code style="margin-left:120px;">len = newX;</code><br>
					<code style="margin-left:80px;">} else if (newX == newY) {</code><br>
					<code style="margin-left:120px;">len = newX;</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:00px;">}</code><br>
				</details>
			</div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">
				<details>
					<summary><h4 style="display:inline;"><strong>FRQ Unit 4</strong></h4></summary>
					<h5>1. Write the Longest Streak method</h5>
					<code style="margin-left:00px;">public static void longestStreak(String str){</code><br>
					<code style="margin-left:40px;">int longestCount = 0;</code><br>
					<code style="margin-left:40px;">String longestChar = null;</code><br>
					<code style="margin-left:40px;">int currentCount = 1;</code><br>
					<code style="margin-left:40px;">String currentChar = null;</code><br>
					<code style="margin-left:40px;">String prevChar = null;</code><br>
					<code style="margin-left:40px;">int start = 0;</code><br>
					<code style="margin-left:40px;">int end = 0;</code><br>
					<code style="margin-left:40px;">for (int ii=0;ii&lt;str.length();ii++) {</code><br>
					<code style="margin-left:80px;">currentChar = String.valueOf(str.charAt(ii));</code><br>
					<code style="margin-left:80px;">if (ii>0){prevChar = String.valueOf(str.charAt(ii-1));}</code><br>
					<code style="margin-left:80px;">if (currentChar.equals(prevChar)) {</code><br>
					<code style="margin-left:120px;">currentCount++;</code><br>
					<code style="margin-left:120px;">if (currentCount > longestCount) {</code><br>
					<code style="margin-left:160px;">longestChar = currentChar;</code><br>
					<code style="margin-left:160px;">longestCount = currentCount;</code><br>
					<code style="margin-left:120px;">}</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:80px;">else {</code><br>
					<code style="margin-left:120px;">currentCount = 1;</code><br>
					<code style="margin-left:120px;">currentChar = null;</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:40px;">System.out.printf("%s %d\n", longestChar, longestCount);</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form action="/about/akhilabout/Unit4FRQQuestion1" method="GET" id="Unit4FRQQuestion1">
							<div>
								<label for="longestStreakField">Input the string</label><br>
								<input class="form-control sub-window" name="str" id="longestStreakField" th:value="${Unit4Q2Input}"><br>
								<button class="button">Submit</button>
								<p th:text="'Output: ' + ${Unit4Q2Output}"></p>
							</div>
						</form>
					</div>
					<h5>2a. getPlayer2Move method</h5>
					<code style="margin-left:00px;">public int getPlayer2Move(int round) {</code><br>
					<code style="margin-left:40px;">int output;</code><br>
					<code style="margin-left:40px;">if (round % 3 == 0) {output = 3;}</code><br>
					<code style="margin-left:40px;">else if (round % 2 == 0) {output = 2;}</code><br>
					<code style="margin-left:40px;">else {output = 1;}</code><br>
					<code style="margin-left:40px;">return output;</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form action="/about/akhilabout/Unit4FRQQuestion2PartA" method="GET" id="Unit4FRQQuestion2PartA">
							<div>
								<label for="roundNumberField">Input the round number</label><br>
								<input class="form-control sub-window" name="round" id="roundNumberField" th:value="${Player2Input}"><br>
								<button class="button">Submit</button>
								<p th:text="'Player 2\'s Bet: ' + ${Player2Move}"></p>
							</div>
						</form>
					</div>
					<h5>2b. playGame method</h5>
					<code style="margin-left:00px;">public void playGame() {</code><br>
					<code style="margin-left:40px;">private int currentRound;</code><br>
					<code style="margin-left:40px;">private int player1Coins;</code><br>
					<code style="margin-left:40px;">private int player2Coins;</code><br>
					<code style="margin-left:40px;">while (currentRound <= maxRounds && player1Coins > 3 && player2Coins > 3) {</code><br>
					<code style="margin-left:80px;">player1Coins -= getPlayer1Move(currentRound);</code><br>
					<code style="margin-left:80px;">player2Coins -= getPlayer2Move(currentRound);</code><br>
					<code style="margin-left:80px;">currentRound++;</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:40px;">if (player1Coins > player2Coins) {System.out.println("player 1 wins");}</code><br>
					<code style="margin-left:40px;">else if (player2Coins > player1Coins) {System.out.println("player 2 wins");}</code><br>
					<code style="margin-left:40px;">else if (player2Coins == player1Coins) {System.out.println("tie");}</code><br>
					<code style="margin-left:00px;">}</code><br>
				</details>
			</div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">
				<details>
					<summary><h4 style="display:inline;"><strong>FRQ Unit 5</strong></h4></summary>
					<h5>1a. Write a method for the Invitation class that returns the name of the host.</h5>
					<code style="margin-left:00px;">public String getHostName() {</code><br>
					<code style="margin-left:40px;">return hostName;</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit5Frq1aForm">
							<label for="">Input the host's name</label>
							<input name="hostname" class="form-control sub-window"><br>
							<button id="Unit5Frq1aButton" class="button">Submit</button>
							<p id="Unit5Frq1aOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit5Frq1aForm');
							let output = document.getElementById("Unit5Frq1aOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit5Frq1aButton').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit5Frq1a', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>1b. Write a method for the Invitation class that accepts a parameter and uses it to update the address for the event.</h5>
					<code style="margin-left:00px;">public void setAddress(String newAddress) {</code><br>
					<code style="margin-left:40px;">address = newAddress;</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit5Frq1bForm">
							<label for="">Input the new address</label>
							<input name="address" class="form-control sub-window"><br>
							<button id="Unit5Frq1bButton" class="button">Submit</button>
							<p id="Unit5Frq1bOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit5Frq1bForm');
							let output = document.getElementById("Unit5Frq1bOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit5Frq1bButton').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit5Frq1b', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>1c. Write the method below. Your implementation must conform to the example above.</h5>
					<code style="margin-left:00px;">public String invite(String person) {</code><br>
					<code style="margin-left:40px;">"Dear " + person + ", please attend my event at " + address + ". See you then, " + hostName + "."</code><br>
					<div class="frq-form">
						<form id="Unit5Frq1cForm">
							<label for="">Input a name</label>
							<input name="person" class="form-control sub-window"><br>
							<button id="Unit5Frq1cButton" class="button">Submit</button>
							<p id="Unit5Frq1cOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit5Frq1cForm');
							let output = document.getElementById("Unit5Frq1cOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit5Frq1cButton').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit5Frq1c', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>1d. Write a correct implementation of the one-parameter Invitation constructor that avoids the error in the student’s implementation. Write the method below.</h5>
					<code style="margin-left:00px;">public Invitation(String address)</code><br>
					<code style="margin-left:00px;">{</code><br>
					<code style="margin-left:40px;">this.address = address;</code><br>
					<code style="margin-left:40px;">hostName = "Host";</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit5Frq1dForm">
							<label for="">Input a new address</label>
							<input name="address" class="form-control sub-window"><br>
							<button id="Unit5Frq1dButton" class="button">Submit</button>
							<p id="Unit5Frq1dOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit5Frq1dForm');
							let output = document.getElementById("Unit5Frq1dOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit5Frq1dButton').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit5Frq1d', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>2. Write the PasswordGenerator Class</h5>
					<code style="margin-left:00px;">public class class PasswordGenerator {</code><br>
					<code style="margin-left:40px;">private static int count;</code><br>
					<code style="margin-left:40px;">ppublic String PasswordGenerator(int len) {</code><br>
					<code style="margin-left:80px;">String password = "A.";</code><br>
					<code style="margin-left:80px;">for (int ii=0;ii&lt;len;ii++) {</code><br>
					<code style="margin-left:120px;">password += (int) (Math.random() *10);</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:80px;">count++;</code><br>
					<code style="margin-left:80px;">return password;</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:40px;">public String PasswordGenerator(int len, String prefix) {</code><br>
					<code style="margin-left:80px;">String password = prefix + ".";</code><br>
					<code style="margin-left:80px;">public String getHostName() {</code><br>
					<code style="margin-left:80px;">for (int ii=0;ii&lt;len;ii++) {</code><br>
					<code style="margin-left:120px;">password += (int) (Math.random() *10);</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:80px;">count++;</code><br>
					<code style="margin-left:80px;">return password;</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:40px;">public int pwCount() {</code><br>
					<code style="margin-left:80px;">return count;</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:00px;">}<br></code>
					<div class="frq-form">
						<div style="display:inline-block;margin:10px;">
							<form id="Unit5Frq2Form_1">
								<div>
									<label for="">Length</label><br>
									<input name="len" class="form-control sub-window"><br>
									<button id="Unit5Frq2FormButton_1" class="button">Submit</button>
									<p id="Unit5FRQ2Output_1">&nbsp;</p>
								</div>
							</form>
						</div>
						<div style="display:inline-block;margin:10px;">
							<form id="Unit5Frq2Form_2">
								<div>
									<label for="">Length</label><br>
									<input name="len" class="form-control sub-window"><br>
									<label for="">Prefix</label><br>
									<input name="prefix" class="form-control sub-window"><br>
									<button id="Unit5Frq2FormButton_2" class="button">Submit</button>
									<p id="Unit5FRQ2Output_2">&nbsp;</p>
								</div>
							</form>
						</div>
						<div style="display:inline-block;margin:10px;">
							<form id="Unit5Frq2Form_3">
								<div>
									<p>Output Password Count</p>
									<button id="Unit5Frq2FormButton_3" class="button">Submit</button>
									<p id="Unit5FRQ2Output_3">&nbsp;</p>
								</div>
							</form>
						</div>
					</div>
				</details>
				<script>
					(function () {
						let form = document.getElementById('Unit5Frq2Form_1');
						let output = document.getElementById("Unit5FRQ2Output_1");
						form.addEventListener('submit', e => e.preventDefault());
						document.getElementById('Unit5Frq2FormButton_1').onclick = Unit5Frq2_1;
						async function Unit5Frq2_1() {
							let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-1', {
								method: 'POST',
								body: new FormData(form)
							})).text();
							output.innerText = data;
						}
					})();
					
					(function () {
						let form = document.getElementById('Unit5Frq2Form_2');
						let output = document.getElementById("Unit5FRQ2Output_2");
						form.addEventListener('submit', e => e.preventDefault());
						document.getElementById('Unit5Frq2FormButton_2').onclick = Unit5Frq2_2;
						async function Unit5Frq2_2() {
							let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-2', {
								method: 'POST',
								body: new FormData(form)
							})).text();
							output.innerText = data;
						}
					})();

					(function () {
						let form= document.getElementById('Unit5Frq2Form_3');
						let output = document.getElementById("Unit5FRQ2Output_3");
						form.addEventListener('submit', e => e.preventDefault());
						document.getElementById('Unit5Frq2FormButton_3').onclick = Unit5Frq2_3;
						async function Unit5Frq2_3() {
							let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-3', {
								method: 'POST',
								body: new FormData(form)
							})).text();
							output.innerText = data;
						}
					})();
				</script>
			</div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">
				<details open>
					<summary><h4 style="display:inline;"><strong>FRQ Unit 6</strong></h4></summary>
					<h5>1. Using an enhanced for loop, write a code segment that will print out elements of an array of String objects, words, that end in "ing"</h5>
					<code style="margin-left:00px;">for (String ii : words) {</code><br>
					<code style="margin-left:40px;">if (ii.substring(ii.length()-3, ii.length()).equals("ing"))</code><br>
					<code style="margin-left:80px;">System.out.println(ii);</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit6Frq1Form">
							<label for="">Input a comma-separated list of words</label>
							<label for="">Do not include any spaces</label>
							<label for="">All words must be 3 or more characters long</label>
							<input name="words" class="form-control sub-window"><br>
							<button id="Unit6Frq1Button" class="button">Submit</button>
							<p id="Unit6Frq1Output">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit6Frq1Form');
							let output = document.getElementById("Unit6Frq1Output");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit6Frq1Button').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit6Frq1', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>2a. Write the computeBonusThreshold() method</h5>
					<code style="margin-left:00px;">public double computeBonusThreshold() {</code><br>
					<code style="margin-left:40px;">int total = 0;</code><br>
					<code style="margin-left:40px;">double threshold = 0.0;</code><br>
					<code style="margin-left:40px;">int lowest = 0;</code><br>
					<code style="margin-left:40px;">int greatest = 0;</code><br>
					<code style="margin-left:40px;">for (int ii : itemsSold) {</code><br>
					<code style="margin-left:80px;">total += ii;</code><br>
					<code style="margin-left:80px;">if (ii&lt;lowest) {lowest = ii;}</code><br>
					<code style="margin-left:80px;">if (ii&gt;greatest) {greatest = ii;}</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:40px;">threshold = ((double) (total-(greatest+lowest)))/((double) itemsSold.length);</code><br>
					<code style="margin-left:40px;">return threshold;</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit6Frq2aForm">
							<label for="">Input a comma-separated list of ints</label>
							<label for="">Do not include any spaces</label>
							<input name="items" class="form-control sub-window" id="Unit6Frq2aField"><br>
							<button id="Unit6Frq2aButton" class="button">Submit</button>
							<p id="Unit6Frq2aOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit6Frq2aForm');
							let output = document.getElementById("Unit6Frq2aOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit6Frq2aButton').onclick = post;
							async function post() {
								document.getElementById("Unit6Frq2bField1").value = document.getElementById("Unit6Frq2aField").value;
								let data = await (await fetch('/about/akhilabout/Unit6Frq2a', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
					<h5>2b. Write the computeWages() method</h5>
					<code style="margin-left:00px;">public void computeWages(double fixedWage, double perItemWage)</code><br>
					<code style="margin-left:40px;">double wage = 10.0;</code><br>
					<code style="margin-left:40px;">for (int ii=0;ii&lt;itemsSold.length;ii++) {</code><br>
					<code style="margin-left:80px;">wage += itemsSold[ii]*1.5;</code><br>
					<code style="margin-left:80px;">if (((double) itemsSold[ii]) > computeBonusThreshold()) {</code><br>
					<code style="margin-left:120px;">wage*=1.1;</code><br>
					<code style="margin-left:80px;">}</code><br>
					<code style="margin-left:80px;">wages[ii] = wage;</code><br>
					<code style="margin-left:80px;">wage = 10.0;</code><br>
					<code style="margin-left:40px;">}</code><br>
					<code style="margin-left:00px;">}</code><br>
					<div class="frq-form">
						<form id="Unit6Frq2bForm">
							<label for="">Input a comma-separated list of ints</label>
							<label for="">Do not include any spaces</label>
							<input name="items" class="form-control sub-window" id="Unit6Frq2bField1"><br>
							<label for="">Fixed Wage</label>
							<input name="fixedWage" class="form-control sub-window"><br>
							<label for="">Per Item Wage</label>
							<input name="perItemWage" class="form-control sub-window"><br>
							<button id="Unit6Frq2bButton" class="button">Submit</button>
							<p id="Unit6Frq2bOutput">&nbsp;</p>
						</form>
					</div>
					<script>
						(function () {
							let form = document.getElementById('Unit6Frq2bForm');
							let output = document.getElementById("Unit6Frq2bOutput");
							form.addEventListener('submit', e => e.preventDefault());
							document.getElementById('Unit6Frq2bButton').onclick = post;
							async function post() {
								let data = await (await fetch('/about/akhilabout/Unit6Frq2b', {
									method: 'POST',
									body: new FormData(form)
								})).text();
								output.innerText = data;
							}
						})();
					</script>
				</details>
			</div>
			<div class="body-window articles" style="margin:10px 0; padding:30px;">

				<h3 id="comment-section" class="text-center font-monospace">Comment Section</h3>
				<div th:each="Comment: ${Comments}">

					<div style="padding:10px;">
						<div class="sub-window">
							<div>
								<h4><u th:text="${Comment.key[0]}"></u></h4><p style="display:inline" th:text="'  ' + ${Comment.key[1]}"></p>
							</div>
							<p style="margin-left: 20px;" th:text="${Comment.value}"></p>
						</div>
					</div>

				</div><br>
				<form action="/about/akhilabout/comment" method="POST" id="commentSubmit">
					<input class="form-control sub-window" style="border:none" name="name" id="Author" placeholder="Username (Optional)"><br>
					<textarea class="form-control sub-window" style="border:none" name="content" id="commentForm" placeholder="Contents"></textarea><br>
					<button class="button">Submit</button>
				</form>
			</div>
		</main>
		<script>
			function toggleImage() {
				var image = document.getElementById("akhil");
				if (image.src.includes("/images/akhilabout/mask.png")) {
					image.src = "/images/akhilabout/nomask.png"
				} 
				else if (image.src.includes("/images/akhilabout/nomask.png")) {
					image.src = "/images/akhilabout/mask.png"
				} 
			}
		</script>
    </div>
</body>

</html>
