<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
	<div layout:fragment="metadata" th:remove="tag">
		<title>Ishan About</title>
	</div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
	<main class="container">
		<div class="body-window p-5" style="background-color: #e182e0">
			<h1 style="color: aquamarine">About Ishan [ <a href="https://docs.google.com/document/d/1bvbj6aZrAFg77SxrK15v2gJzfe5qRikamzlIsG5Nwc8/edit">PBL Journal</a>, <a href="https://github.com/iskapoor/group-l/commits?author=Eshan21">Commits1</a>, and <a href="https://github.com/iskapoor/group-l/commits?author=iskapoor">Commits2</a> ]</h1>
			<p>Mr. M's period 2 AP CSA's very own OO. Not sure what else to say, ig if Michael every sees this, stop spamming my discord with questionable messages, thx!</p>
			<img id="ishan" src="/images/ishan-1.jpg" height=200px onmouseenter=toggleImage() onmouseleave=toggleImage() />
			<embed src="/images/hehefuni.mp3" loop="true" autostart hidden ></embed>
        </div>

		<!-- FRQ #2 -->
		<div class="body-window p-5" style="background-color: #e182e0">
			<details>
				<summary>Unit 2 FRQ</summary>
			<h1 style="color: aquamarine" class="text-center fw-bold" >Unit 2 FRQ</h1><br>

			<div style="background-color: var(--bright-magenta); border-radius: 20px; padding:20px; margin:10px; width:fit-content;">
				<details>
					<summary>Unit 2 FRQ Demo</summary>
				<form action="/about/ishanabout/Wk1Q1Pe" method="GET" id="Wk1Q1PeForm">
					<div>
						<label for="oldSeqField">Give me list of your friends (spaces between each name)</label><br>
						<input class="form-control" name="oldSeq" id="oldSeqField"><br>
						<label for="segField">Who do you dislike?</label>
						<input class="form-control" name="segment" id="segField"><br>
						<button class="btn btn-light">Submit</button>
						<p th:text="'New list of friends: ' + ${newSeq}"></p>
					</div>
				</form>
				</details>
			</div>

			<p>SHOW ALL YOUR WORK. REMEMBER THAT PROGRAM SEGMENTS ARE TO BE WRITTEN IN JAVA.</p>
			<p>Assume that the classes listed in the Java Quick Reference have been imported where appropriate.</p>
			<p>Unless otherwise noted in the question, assume that parameters in method calls are not null and that methods are called only when their preconditions are satisfied.</p>
			<p>In writing solutions for each question, you may use any of the accessible methods that are listed in classes defined in that question. Writing significant amounts of code that can be replaced by a call to one of these methods will not receive full credit.</p>
			<p>Consider the following class.</p>

			<hr color="pink">

			<pre>
                <code class="text-success">public class LightSequence</code>
                <code class="text-success">{</code>

                <code class="text-success">// attributes not shown</code>

                <code class="text-success">/** The parameter seq is the initial sequence used for</code>

                <code class="text-success">* the light display</code>

                <code class="text-success">*/</code>

                <code class="text-success">public LightSequence(String seq)</code>

                <code class="text-success">{ /* implementation not shown */ }</code>


                <code class="text-success">/** Inserts the string segment in the current sequence,</code>

                <code class="text-success">* starting at the index ind. Returns the new sequence.</code>

                <code class="text-success">*/</code>

                <code class="text-success">public String insertSegment(String segment, int ind)</code>

                <code class="text-success">{ /* implementation not shown */ }</code>


                <code class="text-success">/** Updates the sequence to the value in seq</code>

                <code class="text-success">*/</code>

                <code class="text-success">public void changeSequence(String seq)</code>

                <code class="text-success">{ /* implementation not shown */ }</code>

                <code class="text-success">/** Uses the current sequence to turn the light on and off</code>

                <code class="text-success">* for the show</code>

                <code class="text-success">*/</code>

                <code class="text-success">public void display()</code>

                <code class="text-success">{ /* implementation not shown */ }</code>

                <code class="text-success">}</code>
                </pre>

			<hr color="pink">
			<p>(a) Write a statement to create a <code class="text-success">LightSequence</code> object <code class="text-success">gradShow</code> that has the initial light sequence "0101 0101 0101".</p>
			<p>Write the statement below.</p>

			<code class="text-primary fw-bold">LightSequence gradShow = new LightSequence("0101 0101 0101");</code>
			<hr color="pink">

			<p>(b) Write a statement that will call the display method to <code class="text-success">display</code> the light sequence for the <code class="text-success">gradShow</code> object.</p>

			<code class="text-primary fw-bold">gradShow.display();</code>
			<hr color="pink">

			<p>(c) Write a statement that will be used to update the <code class="text-success">gradShow</code> light sequence to "0011 0011 0011".</p>

			<code class="text-primary fw-bold">gradShow.changeSequence("0011 0011 0011");</code>
			<hr color="pink">

			<p>(d) Write a code segment that will call the <code class="text-success">insertSegment</code> method to insert the segment "1111 1111" in the current sequence for <code class="text-success">gradShow</code> at index 4. The resulting sequence will be stored in the string <code class="text-success">resultSeq</code>.</p>

			<code class="text-primary fw-bold">String resultSeq = gradShow.insertSegment("1111 1111", 4);</code>
			<hr color="pink">

			<p>(e) Assume that the string oldSeq has been properly declared and initialized and contains the string segment. Write a code segment that will remove the first occurrence of segment from oldSeq and store it in the string newSeq. Consider the following examples.</p>
			<p>If oldSeq is "1100000111" and segment is "11", then "00000111" should be stored in <code class="text-success">newSeq</code>.</p>
			<p>If oldSeq is "0000011" and segment is "11", then "00000" should be stored in <code class="text-success">newSeq</code>.</p>
			<p>If oldSeq is "1100000111" and segment is "00", then "11000111" should be stored in <code class="text-success">newSeq</code>.</p>
			<p>Write the code segment below. Your code segment should meet all specifications and conform to the examples.</p>

			<code class="text-primary fw-bold">newSeq = oldSeq.replace(segment, "");</code>
			<hr color="pink">

			<p>(f) Two lights will be arranged on a two-dimensional plane. The vertical distance between the two lights is stored in the double variable <code class="text-success">a</code>. The horizontal distance between the two lights is stored in the double variable <code class="text-success">b</code>.</p>
			<p>The straight-line distance between the two lights is given by the formula <code class="text-success"><span>&#8730;</span><span style="text-decoration: overline">a<span>&#178;</span> + b<span>&#178;</span></span></code>.<p>
			<p>Write a code segment that prints the straight-line distance between the two lights according to the formula above.</p>

			<code class="text-primary fw-bold">System.out.println(Math.sqrt((a * a) + (b * b)));</code>
			</details>
		</div>

		<script>
			function toggleImage() {
				var image = document.getElementById("ishan");
				if (image.src.includes("/images/ishan-1.jpg")) {
					image.src = "/images/ishan-2.jpg"
				}
				else if (image.src.includes("/images/ishan-2.jpg")) {
					image.src = "/images/ishan-1.jpg"
				}
			}

		</script>
		<!-- FRQ #3 -->
		<div class="body-window p-5" style="background-color: #e182e0">
			<details>
				<summary>Unit 3 FRQ</summary>
			<h1 style="color: aquamarine" class="text-center fw-bold" >Unit 3 FRQ</h1><br><br><br>
				<div>

					<details>
						<summary>FRQ #3 Question 2 Demo</summary>

						<h1 class="text-center">Java - Draw on Canvas</h1>
						<div class="container py-4 bg-primary" style="text-align:center;">
							<canvas id="canvas" width="512" height="384"></canvas>
						</div>

						<h1>X</h1>
						<input value="0" id='X' type='number' />
						<h1>Y</h1>
						<input value="0" id="Y" type='number' />
						<h1>size</h1>
						<input value="4" id="size" type='number' />
						<script>
							// https://www.w3schools.com/graphics/canvas_intro.asp
							const canvas = document.getElementById('canvas');
							const ctx = canvas.getContext('2d');
							const width = canvas.width;
							const height = canvas.height;
							const unit = 16; // unit block size
							const inputx = document.getElementById("X");
							const inputy = document.getElementById("Y");
							const inputsize = document.getElementById("size");

							let inputxV = 0;
							let inputyV = 0;
							let inputsizeV = 4;

							clearScreen();

							inputsize.onchange = function() {

								inputsizeV = parseInt(inputsize.value);
								ctx.strokeStyle = 'black';
								ctx.lineWidth = 5;
								update();
							};

							inputx.onchange = function() {

								inputxV = parseInt(inputx.value);
								ctx.strokeStyle = 'black';
								ctx.lineWidth = 5;
								update();
							};

							inputy.onchange = function() {

								inputyV = parseInt(inputy.value);
								ctx.strokeStyle = 'black';
								ctx.lineWidth = 5;
								update();

							};

							function update() {
								// checking box out of bounds
								if ((inputxV + inputsizeV) > 16 || // Right
										(inputxV) < -16 || // left
										(inputyV + inputsizeV) > 12 || // Top
										(inputyV) < -12) { // Bottom
									alert("Nothing changed -> Box is can't fit inside of the grid system");
									return;
								}

								clearScreen();
								ctx.strokeStyle = 'black'
								square();
								grid();
								axis();
								logStats();
							}

							function logStats() {
								console.log(
										`Area of the square: ${inputsizeV * inputsizeV}, side length of the square: ${(inputsizeV + inputsizeV) << 1}`
								)
							}


							function clearScreen() {
								ctx.clearRect(0, 0, canvas.width, canvas.height);
								ctx.fillStyle = 'white';
								ctx.fillRect(0, 0, canvas.width, canvas.height);
							}


							// grid based off of width, height
							function grid() {
								// color and pen width
								ctx.strokeStyle = 'black';
								ctx.lineWidth = 1;
								// make graph paper look
								for (let col = 0; col < width; col += unit) {
									for (let row = 0; row < height; row += unit) {
										ctx.strokeRect(col, row, unit, unit);
									}
								}
							}

							// axis lines
							function axis() {
								// color and pen width
								ctx.strokeStyle = 'red';
								ctx.lineWidth = 3;

								// x & y zero midpoints of grid
								const x0 = width * .5;
								const y0 = height * .5;
								// x-axis
								ctx.moveTo(0, y0);
								ctx.lineTo(width, y0);
								ctx.stroke();
								// y-axis
								ctx.moveTo(x0, 0);
								ctx.lineTo(x0, height);
								ctx.stroke();
							}



							// square using lines
							function square() {
								ctx.strokeStyle = 'red';
								ctx.lineWidth = 5;

								// starting coordinates
								var offsetX = width * 0.5;
								var offsetY = height * 0.5;

								// length of sides is 4 units
								const l = Math.abs(unit * inputsizeV);

								const x = unit + offsetX + inputxV * unit - unit;
								const y = -unit + offsetY - l - inputyV * unit + unit;

								// draw a square
								ctx.beginPath();
								ctx.moveTo(x, y);
								ctx.lineTo(x, y + l);
								ctx.lineTo(x + l, y + l);
								ctx.lineTo(x + l, y);
								ctx.lineTo(x, y);
								ctx.stroke();
							}
							// three actions
							grid();
							axis();
							square();
						</script>
					</details>

					<h1>Question 1</h1>
					<p>SHOW ALL YOUR WORK. REMEMBER THAT PROGRAM SEGMENTS ARE TO BE WRITTEN IN JAVA.</p>
					<p>Assume that the classes listed in the Java Quick Reference have been imported where appropriate. Unless otherwise noted in the question, assume that parameters in method calls are not null and that methods are called only when their
						preconditions are satisfied. In writing solutions for each question, you may use any of the accessible methods that are listed in classes defined in that question. Writing significant amounts of code that can be replaced by a call
						to one of these methods will not receive full credit.</p>
					<p>Assume that the following variables have been properly declared and initialized.</p>
					<p>a boolean variable named rsvp an int variable named selection, where 1 represents &quot;beef&quot;, 2 represents &quot;chicken&quot;, 3 represents &quot;pasta&quot;, and all other values represent &quot;fish&quot; a String variable
						named option1 a String variable named option2 (a) Write a code segment that prints &quot;attending&quot; if rsvp is true and prints &quot;not attending&quot; otherwise.</p>
					<p>Write the code segment below.</p>
					<pre><code><span class="hljs-keyword">if</span> (rsvp) System.<span class="hljs-keyword">out</span>.println(<span class="hljs-string">"attending"</span>);
<span class="hljs-keyword">else</span> System.<span class="hljs-keyword">out</span>.println(<span class="hljs-string">"not attending"</span>);
</code></pre>
					<p>(b) Write a code segment that prints the food item associated with selection. For example, if selection is 3, the code segment should print &quot;pasta&quot;.</p>
					<p>Write the code segment below. Your code segment should meet all specifications and conform to the example.</p>
					<pre><code class="lang-java"><span class="hljs-built_in">switch</span> (selection) {
    <span class="hljs-built_in">case</span> <span class="hljs-number">1</span>:
        System.out.<span class="hljs-built_in">println</span>(<span class="hljs-string">"beef"</span>);
        <span class="hljs-built_in">break</span>;
    <span class="hljs-built_in">case</span> <span class="hljs-number">2</span>:
        System.out.<span class="hljs-built_in">println</span>(<span class="hljs-string">"chicken"</span>);
        <span class="hljs-built_in">break</span>;
    <span class="hljs-built_in">case</span> <span class="hljs-number">3</span>:
        System.out.<span class="hljs-built_in">println</span>(<span class="hljs-string">"pasta"</span>);
        <span class="hljs-built_in">break</span>;
    <span class="hljs-built_in">default</span>:
        System.out.<span class="hljs-built_in">println</span>(<span class="hljs-string">"fish"</span>);
}
</code></pre>
					<p>(c) Write a code segment that will store a dinner selection in option1 based on the values of rsvp and selection. The intended behavior of the code segment is described below.</p>
					<p>If rsvp is true, the code segment should store in option1 a string indicating the person’s attendance and food choice. For example, if rsvp is true and selection is 1, the following string should be stored in option1.</p>
					<p>&quot;Thanks for attending. You will be served beef.&quot;</p>
					<p>If rsvp is false, the following string should be stored in option1, regardless of the value of selection.</p>
					<p>&quot;Sorry you can&#39;t make it.&quot;</p>
					<p>Write the code segment below. Your code segment should meet all specifications and conform to the examples.</p>
					<pre><code class="lang-java">Stirng option1 = <span class="hljs-keyword">new</span> <span class="hljs-keyword">String</span>();

<span class="hljs-built_in">if</span> (rsvp) {
    option1 = <span class="hljs-string">"Thanks for attending. You will be served "</span>;
    <span class="hljs-built_in">switch</span> (selection) {
        <span class="hljs-built_in">case</span> <span class="hljs-number">1</span>:
            option1 += <span class="hljs-string">"beef."</span>;
            <span class="hljs-built_in">break</span>;
        <span class="hljs-built_in">case</span> <span class="hljs-number">2</span>:
            option1 += <span class="hljs-string">"chicken."</span>;
            <span class="hljs-built_in">break</span>;
        <span class="hljs-built_in">case</span> <span class="hljs-number">3</span>:
            option1 += <span class="hljs-string">"pasta."</span>;
            <span class="hljs-built_in">break</span>;
        <span class="hljs-built_in">default</span>:
            option1 += <span class="hljs-string">"fish."</span>;
    }
<span class="hljs-built_in">else</span> {
    option1 = <span class="hljs-string">"Sorry you can't make it."</span>;
}
</code></pre>
					<p>(d) Write a code segment that will print true if the strings option1 and option2 contain the same values and will print false otherwise.</p>
					<p>Write the code segment below.</p>
					<pre><code class="lang-java">System.out.println(option1 == option2)<span class="hljs-comment">;</span>
</code></pre>
					<h1 id="question-2">Question 2</h1>
					<p>SHOW ALL YOUR WORK. REMEMBER THAT PROGRAM SEGMENTS ARE TO BE WRITTEN IN JAVA.</p>
					<p>Assume that the classes listed in the Java Quick Reference have been imported where appropriate. Unless otherwise noted in the question, assume that parameters in method calls are not null and that methods are called only when their
						preconditions are satisfied. In writing solutions for each question, you may use any of the accessible methods that are listed in classes defined in that question. Writing significant amounts of code that can be replaced by a call
						to one of these methods will not receive full credit.</p>
					<pre><code class="lang-java"><span class="hljs-keyword">public</span> <span class="hljs-keyword">class</span> <span class="hljs-title">Draw</span>

{

    <span class="hljs-comment">/** Precondition: All parameters are between 0 and 10, inclusive.

    * Draws a line segment in a 10-by-10 xy-coordinate grid.

    * The line segment is drawn from (x1, y1) to (x2, y2).

    */</span>

    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">drawLine</span>(<span class="hljs-params"><span class="hljs-keyword">int</span> x1, <span class="hljs-keyword">int</span> y1, <span class="hljs-keyword">int</span> x2, <span class="hljs-keyword">int</span> y2</span>)

    </span>{ <span class="hljs-comment">/* implementation not shown */</span> }



    <span class="hljs-comment">/** Precondition: 0 ≤ x &lt; 10, 0 &lt; y ≤ 10, and len &gt; 0.

    * Draws a square on a 10-by-10 xy-coordinate grid

    * and prints the square’s side length and area.

    * The upper left corner of the square will be located

    * at the coordinate (x, y) and the side length of the

    * square will be len (or as large as will fit in the grid).

    */</span>

    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">drawSquare</span>(<span class="hljs-params"><span class="hljs-keyword">int</span> x, <span class="hljs-keyword">int</span> y, <span class="hljs-keyword">int</span> len</span>)

    </span>{ <span class="hljs-comment">/* to be implemented */</span> }

}
</code></pre>
					<p>The drawLine method, whose implementation is not shown, is used to draw a line segment from the coordinate (x1, y1) to the coordinate (x2, y2). For example, the call drawLine(2, 5, 6, 4) will produce the figure below.</p>
					<p><img src="https://assets.learnosity.com/organisations/537/VH903006.g09.png" alt="Image" style="height: 50vh;"></p>
					<p>You will write method drawSquare, which draws a square on a 10-by-10 grid and prints the square’s side length and area in the format shown in the examples. The upper left corner of the square is located at the coordinate (x, y). The
						sides of the square will be of length len, or as large as will fit on the grid.</p>
					<p>The following examples show the intended behavior of drawSquare.</p>
					<p><u>Example 1</u> The call drawSquare(1, 4, 3) will produce the figure below. The upper left corner of the square is at the coordinate (1, 4) and the square has sides of length 3.</p>
					<p>The call will print &quot;side length = 3, area = 9&quot;.</p>
					<p><img src="https://assets.learnosity.com/organisations/537/VH903006.g10.png" alt="Image" style="height: 50vh;"></p>
					<p><u>Example 2</u> The call drawSquare(6, 8, 5) will produce the figure below. A square whose upper left corner is at the coordinate (6, 8) cannot have sides of length 5 and still fit on the grid. The largest possible square (with sides
						of length 4) is drawn.</p>
					<p>The call will print &quot;side length = 4, area = 16&quot;.</p>
						<p><img src="https://assets.learnosity.com/organisations/537/VH903006.g11.png" alt="Image" style="height: 50vh;"></p>
					<p><u>Example 3</u> The call drawSquare(7, 2, 4) will produce the figure below. A square whose upper left corner is at the coordinate (7, 2) cannot have sides of length 4 and still fit on the grid. The largest possible square (with sides
						of length 2) is drawn.</p>
					<p>The call will print &quot;side length = 2, area = 4&quot;.</p>
					<p><img src="https://assets.learnosity.com/organisations/537/VH903006.g12.png" alt="Image" style="height: 50vh;"></p>
					<p>Write the method drawSquare below.</p>
					<pre><code class="lang-java"><span class="hljs-comment"><span class="markdown">/** Precondition: 0 ≤ x <span class="xml"><span class="hljs-tag">&lt; <span class="hljs-attr">10</span>, <span class="hljs-attr">0</span> &lt; <span class="hljs-attr">y</span> ≤ <span class="hljs-attr">10</span>, <span class="hljs-attr">and</span> <span class="hljs-attr">len</span> &gt;</span></span> 0.

<span class="hljs-bullet">* </span>Draws </span>a<span class="markdown"> square on </span>a<span class="markdown"> 10-by-10 xy-coordinate grid

<span class="hljs-bullet">* </span>and prints </span>the<span class="markdown"> square’s side length and area.

<span class="hljs-bullet">* </span>The upper left corner of </span>the<span class="markdown"> square </span>will<span class="markdown"> be located

<span class="hljs-bullet">* </span>at </span>the<span class="markdown"> coordinate (x, y) and </span>the<span class="markdown"> side length of </span>the<span class="markdown">

<span class="hljs-bullet">* </span>square </span>will<span class="markdown"> be len (or as large as </span>will<span class="markdown"> fit in </span>the<span class="markdown"> grid).

*/</span></span>

public <span class="hljs-keyword">void</span> drawSquare(<span class="hljs-built_in">int</span> x, <span class="hljs-built_in">int</span> y, <span class="hljs-built_in">int</span> len)
</code></pre>
					<pre><code class="lang-java">
public void drawSquare(<span class="hljs-keyword">int</span> x, <span class="hljs-keyword">int</span> y, <span class="hljs-keyword">int</span> <span class="hljs-built_in">len</span>) {

    drawLine(x, y, x, y - <span class="hljs-built_in">len</span>);
    drawLine(x, y - <span class="hljs-built_in">len</span>, x - <span class="hljs-built_in">len</span>, y - <span class="hljs-built_in">len</span>);
    drawLine(x - <span class="hljs-built_in">len</span>, y - <span class="hljs-built_in">len</span>, x + <span class="hljs-built_in">len</span>, y);
    drawLine(x + <span class="hljs-built_in">len</span>, y, x, y);

    <span class="hljs-keyword">int</span> area = x * y;
    <span class="hljs-keyword">int</span> sideLength = <span class="hljs-number">2</span> * (x + y);

    System.out.<span class="hljs-built_in">println</span>(<span class="hljs-string">"side length = "</span> + sideLength + <span class="hljs-string">", area = "</span> + area + <span class="hljs-string">"."</span>);
}
</code></pre>
				</div>
			</details>
		</div>

		<!-- FRQ #4 -->
		<div class="body-window p-5" style="background-color:#e182e0">
			<details>
				<summary>Unit 4 FRQ</summary>
			<h1 style="color: aquamarine" class="text-center fw-bold" >Unit 4 FRQ</h1><br><br><br>
				<h5>1. Write the Longest Streak method</h5>
				<h5>2a. getPlayer2Move method</h5>
				<code style="margin-left:00px;">public int getPlayer2Move(int round) {</code><br>
				<code style="margin-left:40px;">int output;</code><br>
				<code style="margin-left:40px;">if (round % 3 == 0) {output = 3;}</code><br>
				<code style="margin-left:40px;">else if (round % 2 == 0) {output = 2;}</code><br>
				<code style="margin-left:40px;">else {output = 1;}</code><br>
				<code style="margin-left:40px;">return output;</code><br>
				<code style="margin-left:00px;">}</code><br>
				<div style="background-color: var(--bright-black); border-radius: 10px; padding:10px; margin:10px; width:fit-content;">
					<form action="/about/akhilabout/Unit4FRQQuestion2PartA" method="GET" id="Unit4FRQQuestion2PartA">
						<div>
							<label for="roundNumberField">Input the round number</label><br>
							<input class="form-control" name="round" id="roundNumberField"><br>
							<button class="btn btn-light">Submit</button>
							<p th:text="'Player 2\'s Bet: ' + ${Player2Move}"></p>
						</div>
					</form>
				</div>
				<h5>2b. playGame method</h5>
				<code style="margin-left:00px;">public void playGame() {</code><br>
				<code style="margin-left:40px;">private int currentRound;</code><br>
				<code style="margin-left:40px;">private int player1Coins;</code><br>
				<code style="margin-left:40px;">private int player2Coins;</code><br>
				<code style="margin-left:40px;">while (currentRound <= maxRounds && player1Coins > 3 && player2Coins > 3) {</code><br>
				<code style="margin-left:80px;">player1Coins -= getPlayer1Move(currentRound);</code><br>
				<code style="margin-left:80px;">player2Coins -= getPlayer2Move(currentRound);</code><br>
				<code style="margin-left:80px;">currentRound++;</code><br>
				<code style="margin-left:40px;">}</code><br>
				<code style="margin-left:40px;">if (player1Coins > player2Coins) {System.out.println("player 1 wins");}</code><br>
				<code style="margin-left:40px;">else if (player2Coins > player1Coins) {System.out.println("player 2 wins");}</code><br>
				<code style="margin-left:40px;">else if (player2Coins == player1Coins) {System.out.println("tie");}</code><br>
				<code style="margin-left:00px;">}</code><br>
			</details>
		</div>

		<div class="body-window p-5" style="background-color: #e182e0">
			<details>
				<summary><h4 style="display:inline;"><strong>FRQ Unit 5</strong></h4></summary>
				<h5>1a. Write a method for the Invitation class that returns the name of the host.</h5>
				<code style="margin-left:00px;">public String getHostName() {</code><br>
				<code style="margin-left:40px;">return hostName;</code><br>
				<code style="margin-left:00px;">}</code><br>
				<h5>1b. Write a method for the Invitation class that accepts a parameter and uses it to update the address for the event.</h5>
				<code style="margin-left:00px;">public void setAddress(String newAddress) {</code><br>
				<code style="margin-left:40px;">address = newAddress;</code><br>
				<code style="margin-left:00px;">}</code><br>
				<h5>1c. Write the method below. Your implementation must conform to the example above.</h5>
				<code style="margin-left:00px;">public String invite(String person) {</code><br>
				<code style="margin-left:40px;">"Dear " + person + ", please attend my event at " + address + ". See you then, " + hostName + "."</code><br>
				<h5>1d. Write a correct implementation of the one-parameter Invitation constructor that avoids the error in the student’s implementation. Write the method below.</h5>
				<code style="margin-left:00px;">public Invitation(String address)</code><br>
				<code style="margin-left:00px;">{</code><br>
				<code style="margin-left:40px;">this.address = address;</code><br>
				<code style="margin-left:40px;">hostName = "Host";</code><br>
				<code style="margin-left:00px;">}</code><br>
				<h5>2. Write the PasswordGenerator Class</h5>
				<code style="margin-left:00px;">public class class PasswordGenerator {</code><br>
				<code style="margin-left:40px;">private static int count;</code><br>
				<code style="margin-left:40px;">ppublic String PasswordGenerator(int len) {</code><br>
				<code style="margin-left:80px;">String password = "A.";</code><br>
				<code style="margin-left:80px;">for (int ii=0;ii&lt;len;ii++) {</code><br>
				<code style="margin-left:120px;">password += (int) (Math.random() *10);</code><br>
				<code style="margin-left:80px;">}</code><br>
				<code style="margin-left:80px;">count++;</code><br>
				<code style="margin-left:80px;">return password;</code><br>
				<code style="margin-left:40px;">}</code><br>
				<code style="margin-left:40px;">public String PasswordGenerator(int len, String prefix) {</code><br>
				<code style="margin-left:80px;">String password = prefix + ".";</code><br>
				<code style="margin-left:80px;">public String getHostName() {</code><br>
				<code style="margin-left:80px;">for (int ii=0;ii&lt;len;ii++) {</code><br>
				<code style="margin-left:120px;">password += (int) (Math.random() *10);</code><br>
				<code style="margin-left:80px;">}</code><br>
				<code style="margin-left:80px;">count++;</code><br>
				<code style="margin-left:80px;">return password;</code><br>
				<code style="margin-left:40px;">}</code><br>
				<code style="margin-left:40px;">public int pwCount() {</code><br>
				<code style="margin-left:80px;">return count;</code><br>
				<code style="margin-left:40px;">}</code><br>
				<code style="margin-left:00px;">}<br></code>
				<div class="frq-form">
					<div style="display:inline-block;margin:10px;">
						<form id="Unit5Frq2Form_1">
							<div>
								<label for="">Length</label><br>
								<input name="len" class="form-control sub-window"><br>
								<button id="Unit5Frq2FormButton_1" class="button">Submit</button>
								<p id="Unit5FRQ2Output_1">&nbsp;</p>
							</div>
						</form>
					</div>
					<div style="display:inline-block;margin:10px;">
						<form id="Unit5Frq2Form_2">
							<div>
								<label for="">Length</label><br>
								<input name="len" class="form-control sub-window"><br>
								<label for="">Prefix</label><br>
								<input name="prefix" class="form-control sub-window"><br>
								<button id="Unit5Frq2FormButton_2" class="button">Submit</button>
								<p id="Unit5FRQ2Output_2">&nbsp;</p>
							</div>
						</form>
					</div>
					<div style="display:inline-block;margin:10px;">
						<form id="Unit5Frq2Form_3">
							<div>
								<p>Output Password Count</p>
								<button id="Unit5Frq2FormButton_3" class="button">Submit</button>
								<p id="Unit5FRQ2Output_3">&nbsp;</p>
							</div>
						</form>
					</div>
				</div>
			</details>
			<script>
				(function () {
					let form = document.getElementById('Unit5Frq2Form_1');
					let output = document.getElementById("Unit5FRQ2Output_1");
					form.addEventListener('submit', e => e.preventDefault());
					document.getElementById('Unit5Frq2FormButton_1').onclick = Unit5Frq2_1;
					async function Unit5Frq2_1() {
						let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-1', {
							method: 'POST',
							body: new FormData(form)
						})).text();
						output.innerText = data;
					}
				})();

				(function () {
					let form = document.getElementById('Unit5Frq2Form_2');
					let output = document.getElementById("Unit5FRQ2Output_2");
					form.addEventListener('submit', e => e.preventDefault());
					document.getElementById('Unit5Frq2FormButton_2').onclick = Unit5Frq2_2;
					async function Unit5Frq2_2() {
						let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-2', {
							method: 'POST',
							body: new FormData(form)
						})).text();
						output.innerText = data;
					}
				})();

				(function () {
					let form= document.getElementById('Unit5Frq2Form_3');
					let output = document.getElementById("Unit5FRQ2Output_3");
					form.addEventListener('submit', e => e.preventDefault());
					document.getElementById('Unit5Frq2FormButton_3').onclick = Unit5Frq2_3;
					async function Unit5Frq2_3() {
						let data = await (await fetch('/about/akhilabout/Unit5FRQQuestion2-3', {
							method: 'POST',
							body: new FormData(form)
						})).text();
						output.innerText = data;
					}
				})();
			</script>
		</div>
	</main>
</div>
</body>

</html>
